---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/products
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '297'
      apigw-requestid:
      - RcPuviPhCYcEMTg=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":4,"total":4}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/products?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=name","last":"https:\/\/api.lemonsqueezy.com\/v1\/products?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=name"},"data":[{"type":"products","id":"128221","attributes":{"store_id":51385,"name":"A
        Test Item","slug":"a-test-item","description":"<p>This is a test item<\/p>","status":"published","status_formatted":"Published","thumb_url":"https:\/\/lemonsqueezy.imgix.net\/media\/51385\/0c1f72d5-d20f-4ef8-8910-f12216f1cfc3.png?fit=clip&h=100&ixlib=php-3.3.1&w=100&s=746a8bc36f208ea347ce08cbfc18d5d7","large_thumb_url":"https:\/\/lemonsqueezy.imgix.net\/media\/51385\/0c1f72d5-d20f-4ef8-8910-f12216f1cfc3.png?fit=clip&h=1000&ixlib=php-3.3.1&w=1000&s=b3be98808116223ee12ec9f64e1f88be","price":1500,"price_formatted":"\u00a315.00","from_price":null,"to_price":null,"pay_what_you_want":false,"buy_now_url":"https:\/\/voupedev.lemonsqueezy.com\/checkout\/buy\/b3df613f-b51c-4907-accf-c4ae0666c62d","created_at":"2023-11-07T19:47:07.000000Z","updated_at":"2023-11-07T19:47:28.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/products\/128221\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/products\/128221\/relationships\/store"}},"variants":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/products\/128221\/variants","self":"https:\/\/api.lemonsqueezy.com\/v1\/products\/128221\/relationships\/variants"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/products\/128221"}},{"type":"products","id":"128225","attributes":{"store_id":51385,"name":"SaaS
        Gold Plan","slug":"saas-gold-plan","description":null,"status":"published","status_formatted":"Published","thumb_url":null,"large_thumb_url":null,"price":2000,"price_f[...]
