---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/discount-redemptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '297'
      apigw-requestid:
      - RiIbpjxVCYcEJIQ=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":1,"total":1}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/discount-redemptions?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-createdAt","last":"https:\/\/api.lemonsqueezy.com\/v1\/discount-redemptions?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-createdAt"},"data":[{"type":"discount-redemptions","id":"170576","attributes":{"discount_id":80554,"order_id":1907731,"discount_name":"10%
        Off","discount_code":"10OFF","discount_amount":10,"discount_amount_type":"percent","amount":100,"created_at":"2024-01-14T14:20:44.000000Z","updated_at":"2024-01-14T14:20:44.000000Z"},"relationships":{"discount":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/discount-redemptions\/170576\/discount","self":"https:\/\/api.lemonsqueezy.com\/v1\/discount-redemptions\/170576\/relationships\/discount"}},"order":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/discount-redemptions\/170576\/order","self":"https:\/\/api.lemonsqueezy.com\/v1\/discount-redemptions\/170576\/relationships\/order"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/discount-redemptions\/170576"}}]}'
  recorded_at: Sun, 14 Jan 2024 14:21:23 GMT
recorded_with: VCR 6.2.0
