---
http_interactions:
- request:
    method: post
    uri: https://api.lemonsqueezy.com/v1/webhooks
    body:
      encoding: UTF-8
      string: '{"data":{"type":"webhooks","attributes":{"url":"http://localhost:3000/webhook","events":["order_created"],"secret":"abc123"},"relationships":{"store":{"data":{"type":"stores","id":"51385"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/vnd.api+json
      location:
      - https://api.lemonsqueezy.com/v1/webhooks/11630
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      apigw-requestid:
      - RiKpWgkSiYcEMzQ=
    body:
      encoding: UTF-8
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11630"},"data":{"type":"webhooks","id":"11630","attributes":{"store_id":51385,"url":"http:\/\/localhost:3000\/webhook","events":["order_created"],"last_sent_at":null,"created_at":"2024-01-14T14:36:30.000000Z","updated_at":"2024-01-14T14:36:30.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11630\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11630\/relationships\/store"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11630"}}}'
  recorded_at: Sun, 14 Jan 2024 14:36:30 GMT
recorded_with: VCR 6.2.0
