---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/webhooks?filter%5Bstore_id%5D=51385
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      apigw-requestid:
      - RiLEJjdRiYcEJag=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":2,"total":2}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks?filter%5Bstore_id%5D=51385&page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-createdAt","last":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks?filter%5Bstore_id%5D=51385&page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-createdAt"},"data":[{"type":"webhooks","id":"11630","attributes":{"store_id":51385,"url":"http:\/\/localhost:3000\/webhook","events":["order_created","subscription_created"],"last_sent_at":null,"created_at":"2024-01-14T14:36:30.000000Z","updated_at":"2024-01-14T14:38:03.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11630\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11630\/relationships\/store"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11630"}},{"type":"webhooks","id":"11629","attributes":{"store_id":51385,"url":"https:\/\/cuddly-bluegill-hardly.ngrok-free.app\/webhook","events":["order_created"],"last_sent_at":null,"created_at":"2024-01-14T14:35:29.000000Z","updated_at":"2024-01-14T14:35:29.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11629\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11629\/relationships\/store"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11629"}}]}'
  recorded_at: Sun, 14 Jan 2024 14:39:21 GMT
recorded_with: VCR 6.2.0
