---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/prices/233122
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      apigw-requestid:
      - RcQoMiXDCYcEPrw=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/233122"},"data":{"type":"prices","id":"233122","attributes":{"variant_id":211541,"category":"one_time","scheme":"standard","usage_aggregation":null,"unit_price":999,"package_size":1,"tiers":null,"renewal_interval_unit":"year","renewal_interval_quantity":1,"trial_interval_unit":null,"trial_interval_quantity":null,"min_price":null,"suggested_price":null,"tax_code":"eservice","created_at":"2024-01-12T19:08:08.000000Z","updated_at":"2024-01-12T19:08:08.000000Z"},"relationships":{"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/233122\/variant","self":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/233122\/relationships\/variant"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/233122"}}}'
  recorded_at: Fri, 12 Jan 2024 19:35:54 GMT
recorded_with: VCR 6.2.0
