---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/files?filter%5Bvariant_id%5D=212481
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      apigw-requestid:
      - RfxOUijZiYcEPEg=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":1,"total":1}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/files?filter%5Bvariant_id%5D=212481&page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=sort","last":"https:\/\/api.lemonsqueezy.com\/v1\/files?filter%5Bvariant_id%5D=212481&page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=sort"},"data":[{"type":"files","id":"124195","attributes":{"variant_id":212481,"identifier":"e651f057-3812-48dd-8ec5-1a921a6f0123","name":"TDX8EYkZ8K.png","extension":"png","download_url":"https:\/\/app.lemonsqueezy.com\/download\/e651f057-3812-48dd-8ec5-1a921a6f0123?expires=1705183749&signature=a5a6e412c82ee5ba2e5cc89de1e17650c22993428bd914c39ca55f21d279ccae","size":7863,"size_formatted":"8
        KB","version":null,"sort":1,"status":"published","createdAt":"2024-01-13T21:06:42.000000Z","updatedAt":"2024-01-13T21:06:45.000000Z","test_mode":true},"relationships":{"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/files\/124195\/variant","self":"https:\/\/api.lemonsqueezy.com\/v1\/files\/124195\/relationships\/variant"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/files\/124195"}}]}'
  recorded_at: Sat, 13 Jan 2024 21:09:09 GMT
recorded_with: VCR 6.2.0
