---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/variants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      apigw-requestid:
      - RfwCBiaWCYcEMvg=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":5,"total":5}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/variants?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=sort","last":"https:\/\/api.lemonsqueezy.com\/v1\/variants?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=sort"},"data":[{"type":"variants","id":"149091","attributes":{"price":1000,"is_subscription":true,"interval":"month","interval_count":1,"has_free_trial":false,"trial_interval":"day","trial_interval_count":30,"pay_what_you_want":false,"min_price":0,"suggested_price":0,"product_id":128224,"name":"Default","slug":"9125b2b8-574a-4597-9a70-82e4c4943b6c","description":null,"has_license_keys":false,"license_activation_limit":5,"is_license_limit_unlimited":false,"license_length_value":1,"license_length_unit":"years","is_license_length_unlimited":false,"sort":1,"status":"pending","status_formatted":"Pending","created_at":"2023-11-07T19:47:50.000000Z","updated_at":"2023-11-07T19:47:50.000000Z","test_mode":true},"relationships":{"product":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/variants\/149091\/product","self":"https:\/\/api.lemonsqueezy.com\/v1\/variants\/149091\/relationships\/product"}},"files":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/variants\/149091\/files","self":"https:\/\/api.lemonsqueezy.com\/v1\/variants\/149091\/relationships\/files"}},"price-model":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/variants\/149091\/price-model","self":"https:\/\/api.lemonsqueezy.com\/v1\/variants\/149091\/relationships\/price-model"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/variants\/149091"}},{"type":"variants","id":"149092","attributes":{"price":2000,"is_subscription":true,"interval":"month","interval_count":1,"has_free_trial":false,"trial_interval":"day","trial_interval_count":30,"pay_what_you_want":false,"min_price":0,"suggested_pr[...]
