---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/products/128225
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '296'
      apigw-requestid:
      - RcPu0gMBiYcEPtA=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/products\/128225"},"data":{"type":"products","id":"128225","attributes":{"store_id":51385,"name":"SaaS
        Gold Plan","slug":"saas-gold-plan","description":null,"status":"published","status_formatted":"Published","thumb_url":null,"large_thumb_url":null,"price":2000,"price_formatted":"\u00a320.00\/month","from_price":null,"to_price":null,"pay_what_you_want":false,"buy_now_url":"https:\/\/voupedev.lemonsqueezy.com\/checkout\/buy\/7acc6d8a-6b79-4344-aa67-f47e8b1b6b04","created_at":"2023-11-07T19:48:24.000000Z","updated_at":"2023-11-07T21:52:08.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/products\/128225\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/products\/128225\/relationships\/store"}},"variants":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/products\/128225\/variants","self":"https:\/\/api.lemonsqueezy.com\/v1\/products\/128225\/relationships\/variants"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/products\/128225"}}}'
  recorded_at: Fri, 12 Jan 2024 19:29:47 GMT
recorded_with: VCR 6.2.0
