---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/subscriptions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-limit:
      - '300'
      apigw-requestid:
      - RfnNbhWDiYcEP8w=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":2,"total":2}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-createdAt","last":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-createdAt"},"data":[{"type":"subscriptions","id":"176706","attributes":{"store_id":51385,"customer_id":1584868,"order_id":1541086,"order_item_id":1503862,"product_id":128225,"variant_id":149092,"product_name":"SaaS
        Gold Plan","variant_name":"Default","user_name":"Dean Dev","user_email":"dean@voupe.dev","status":"active","status_formatted":"Active","card_brand":"visa","card_last_four":"4242","pause":null,"cancelled":false,"trial_ends_at":null,"billing_anchor":7,"first_subscription_item":{"id":139332,"subscription_id":176706,"price_id":144599,"quantity":1,"is_usage_based":false,"created_at":"2023-11-07T21:52:07.000000Z","updated_at":"2023-11-07T21:52:07.000000Z"},"urls":{"update_payment_method":"https:\/\/voupedev.lemonsqueezy.com\/subscription\/176706\/payment-details?expires=1705262447&signature=520408ea97b0089df83f5e4e46db1856d8f57063e1c6f76fdbc2449ab8a3298a","customer_portal":"https:\/\/voupedev.lemonsqueezy.com\/billing?expires=1705197647&test_mode=1&user=1539071&signature=ac962159ec95107acdf8c9a84af5ade3f1a59ed2c55dfc7bd9b71279b938e36a"},"renews_at":"2024-02-07T21:52:05.000000Z","ends_at":null,"created_at":"2023-11-07T21:52:07.000000Z","updated_at":"2024-01-07T21:53:46.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/store"}},"customer":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/customer","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/customer"}},"order":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/order","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/order"}},"order-item":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/order-item","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/order-item"}},"product":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/product","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/product"}},"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/variant","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/variant"}},"subscription-items":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/subscription-items","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/subscription-items"}},"subscription-invoices":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/subscription-invoices","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/subscription-invoices"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706"}},{"type":"subscriptions","id":"176705","attributes":{"store_id":51385,"customer_id":1584868,"order_id":1541082,"order_item_id":1503859,"product_id":128224,"variant_id":149091,"product_name":"SaaS
        Silver P[...]
