---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/subscriptions/176706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      apigw-requestid:
      - Rfnb6ieXCYcEPRw=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706"},"data":{"type":"subscriptions","id":"176706","attributes":{"store_id":51385,"customer_id":1584868,"order_id":1541086,"order_item_id":1503862,"product_id":128225,"variant_id":149092,"product_name":"SaaS
        Gold Plan","variant_name":"Default","user_name":"Dean Dev","user_email":"dean@voupe.dev","status":"active","status_formatted":"Active","card_brand":"visa","card_last_four":"4242","pause":null,"cancelled":false,"trial_ends_at":null,"billing_anchor":7,"first_subscription_item":{"id":139332,"subscription_id":176706,"price_id":144599,"quantity":1,"is_usage_based":false,"created_at":"2023-11-07T21:52:07.000000Z","updated_at":"2023-11-07T21:52:07.000000Z"},"urls":{"update_payment_method":"https:\/\/voupedev.lemonsqueezy.com\/subscription\/176706\/payment-details?expires=1705262540&signature=8178b1bcf199796dcaf23fc34a55dbbb4d32c350a9c8aa3be4f231ce98c3c2a9","customer_portal":"https:\/\/voupedev.lemonsqueezy.com\/billing?expires=1705197740&test_mode=1&user=1539071&signature=a575cdb724d5c0b8df985af4a5e265940411affe2a807f8530a6eb298316b102"},"renews_at":"2024-02-07T21:52:05.000000Z","ends_at":null,"created_at":"2023-11-07T21:52:07.000000Z","updated_at":"2024-01-07T21:53:46.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/store"}},"customer":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/customer","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/customer"}},"order":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/order","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/order"}},"order-item":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/order-item","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/order-item"}},"product":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/product","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/product"}},"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/variant","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/variant"}},"subscription-items":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/subscription-items","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/subscription-items"}},"subscription-invoices":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/subscription-invoices","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706\/relationships\/subscription-invoices"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176706"}}}'
  recorded_at: Sat, 13 Jan 2024 20:02:20 GMT
recorded_with: VCR 6.2.0
