---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      apigw-requestid:
      - RcOH3jBwCYcEPSQ=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"test_mode":true},"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/users\/1539071"},"data":{"type":"users","id":"1539071","attributes":{"name":"Dean
        Dev","email":"dean@voupe.dev","color":"#00ACFF","avatar_url":"https:\/\/www.gravatar.com\/avatar\/4c0b621b50475ec07bf09b00bf219d5d?d=blank","has_custom_avatar":false,"createdAt":"2023-11-07T19:43:04.000000Z","updatedAt":"2023-11-07T21:50:48.000000Z"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/users\/1539071"}}}'
  recorded_at: Fri, 12 Jan 2024 19:18:48 GMT
recorded_with: VCR 6.2.0
