---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/customers?filter%5Bemail%5D=test%40voupe.dev
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '294'
      apigw-requestid:
      - RfwCVgsqiYcEMYw=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":1,"total":1}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/customers?filter%5Bemail%5D=test%40voupe.dev&page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-createdAt","last":"https:\/\/api.lemonsqueezy.com\/v1\/customers?filter%5Bemail%5D=test%40voupe.dev&page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-createdAt"},"data":[{"type":"customers","id":"2093960","attributes":{"store_id":51385,"name":"Dean
        Dev Again","email":"test@voupe.dev","status":"subscribed","city":null,"region":null,"country":null,"total_revenue_currency":0,"mrr":0,"status_formatted":"Subscribed","country_formatted":null,"total_revenue_currency_formatted":"\u00a30.00","mrr_formatted":"\u00a30.00","urls":{"customer_portal":null},"created_at":"2024-01-12T19:25:45.000000Z","updated_at":"2024-01-12T19:25:45.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/relationships\/store"}},"orders":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/orders","self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/relationships\/orders"}},"subscriptions":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/subscriptions","self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/relationships\/subscriptions"}},"license-keys":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/license-keys","self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/relationships\/license-keys"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960"}}]}'
  recorded_at: Sat, 13 Jan 2024 21:01:03 GMT
recorded_with: VCR 6.2.0
