---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/license-key-instances
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '297'
      apigw-requestid:
      - RiG46inkCYcEMtg=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":5,"total":5}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/license-key-instances?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=id","last":"https:\/\/api.lemonsqueezy.com\/v1\/license-key-instances?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=id"},"data":[{"type":"license-key-instances","id":"707185","attributes":{"license_key_id":385359,"identifier":"af8b8448-140f-4c82-8a32-7914ddf7c0f1","name":"Test1","created_at":"2024-01-14T14:06:08.000000Z","updated_at":"2024-01-14T14:06:08.000000Z"},"relationships":{"license-key":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/license-key-instances\/707185\/license-key","self":"https:\/\/api.lemonsqueezy.com\/v1\/license-key-instances\/707185\/relationships\/license-key"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/license-key-instances\/707185"}},{"type":"license-key-instances","id":"707186","attributes":{"license_key_id":385359,"identifier":"5ec90ac5-caa5-4452-9482-9cd6e40a8bcf","name":"Test2","created_at":"2024-01-14T14:06:19.000000Z","updated_at":"2024-01-14T14:06:19.000000Z"},"relationships":{"license-key":{"links":{"related":"https:\/\/api.lemonsqueez[...]
