---
http_interactions:
- request:
    method: post
    uri: https://api.lemonsqueezy.com/v1/customers
    body:
      encoding: UTF-8
      string: '{"data":{"type":"customers","attributes":{"name":"Dean Dev Again","email":"test@voupe.dev"},"relationships":{"store":{"data":{"type":"stores","id":"51385"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/vnd.api+json
      location:
      - https://api.lemonsqueezy.com/v1/customers/2093960
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      apigw-requestid:
      - RcPJBhutCYcEPDQ=
    body:
      encoding: UTF-8
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960"},"data":{"type":"customers","id":"2093960","attributes":{"store_id":51385,"name":"Dean
        Dev Again","email":"test@voupe.dev","status":"subscribed","city":null,"region":null,"country":null,"total_revenue_currency":0,"mrr":0,"status_formatted":"Subscribed","country_formatted":null,"total_revenue_currency_formatted":"\u00a30.00","mrr_formatted":"\u00a30.00","urls":{"customer_portal":null},"created_at":"2024-01-12T19:25:45.000000Z","updated_at":"2024-01-12T19:25:45.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/relationships\/store"}},"orders":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/orders","self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/relationships\/orders"}},"subscriptions":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/subscriptions","self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/relationships\/subscriptions"}},"license-keys":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/license-keys","self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960\/relationships\/license-keys"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/2093960"}}}'
  recorded_at: Fri, 12 Jan 2024 19:25:45 GMT
recorded_with: VCR 6.2.0
