---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '297'
      apigw-requestid:
      - RcO7PizyiYcEJLQ=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":3,"total":3}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/customers?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-createdAt","last":"https:\/\/api.lemonsqueezy.com\/v1\/customers?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-createdAt"},"data":[{"type":"customers","id":"1584868","attributes":{"store_id":51385,"name":"Dean
        Dev","email":"dean@voupe.dev","status":"subscribed","city":null,"region":null,"country":"GB","total_revenue_currency":0,"mrr":3000,"status_formatted":"Subscribed","country_formatted":"United
        Kingdom","total_revenue_currency_formatted":"\u00a30.00","mrr_formatted":"\u00a330.00","urls":{"customer_portal":"https:\/\/voupedev.lemonsqueezy.com\/billing?expires=1705109057&test_mode=1&user=1539071&signature=6bb36f14c7bb9cf2ba2cf85798b3e7d6550dde0f43c50bfcd3c7291797421c05"},"created_at":"2023-11-07T21:51:11.000000Z","updated_at":"2023-11-07T21:52:08.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/1584868\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/1584868\/relationships\/store"}},"orders":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/1584868\/orders","self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/1584868\/relationships\/orders"}},"subscriptions":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/1584868\/subscriptions","self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/1584868\/relationships\/subscriptions"}},"license-keys":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/1584868\/license-keys","self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/1584868\/relationships\/license-keys"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/customers\/1584868"}},{"type":"customers","id":"1584617","attributes":{"store_id":51385,"name":"Test
        Customer 2","email":"dean+test1@voupe.dev","status":"archived","city":null,"region":null,"country":null,"total_revenue_currency":0,"mrr":0,"status_form[...]
