---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/prices?variant_id=149091
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-remaining:
      - '295'
      x-ratelimit-limit:
      - '300'
      apigw-requestid:
      - RcQm-hVNCYcEPxA=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":10,"total":10}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/prices?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-created_at","last":"https:\/\/api.lemonsqueezy.com\/v1\/prices?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-created_at"},"data":[{"type":"prices","id":"233122","attributes":{"variant_id":211541,"category":"one_time","scheme":"standard","usage_aggregation":null,"unit_price":999,"package_size":1,"tiers":null,"renewal_interval_unit":"year","renewal_interval_quantity":1,"trial_interval_unit":null,"trial_interval_quantity":null,"min_price":null,"suggested_price":null,"tax_code":"eservice","created_at":"2024-01-12T19:08:08.000000Z","updated_at":"2024-01-12T19:08:08.000000Z"},"relationships":{"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/233122\/variant","self":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/233122\/relationships\/variant"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/233122"}},{"type":"prices","id":"233121","attributes":{"variant_id":211541,"category":"one_time","scheme":"standard","usage_aggregation":null,"unit_price":999,"package_size":1,"tiers":null,"renewal_interval_unit":null,"renewal_interval_quantity":null,"trial_interval_unit":null,"trial_interval_quantity":null,"min_price":null,"suggested_price":null,"tax_code"[...]
