---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/subscription-items?filter%5Bsubscription_id%5D=176706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      apigw-requestid:
      - Rfzg4gasCYcEJ2Q=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":1,"total":1}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items?filter%5Bsubscription_id%5D=176706&page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-created_at","last":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items?filter%5Bsubscription_id%5D=176706&page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-created_at"},"data":[{"type":"subscription-items","id":"139332","attributes":{"subscription_id":176706,"price_id":144599,"quantity":1,"is_usage_based":false,"created_at":"2023-11-07T21:52:07.000000Z","updated_at":"2023-11-07T21:52:07.000000Z"},"relationships":{"subscription":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332\/subscription","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332\/relationships\/subscription"}},"price":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332\/price","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332\/relationships\/price"}},"usage-records":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332\/usage-records","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332\/relationships\/usage-records"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332"}}]}'
  recorded_at: Sat, 13 Jan 2024 21:24:47 GMT
recorded_with: VCR 6.2.0
