---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/license-key-instances/707185
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '298'
      apigw-requestid:
      - RiG43iPMiYcEP3g=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/license-key-instances\/707185"},"data":{"type":"license-key-instances","id":"707185","attributes":{"license_key_id":385359,"identifier":"af8b8448-140f-4c82-8a32-7914ddf7c0f1","name":"Test1","created_at":"2024-01-14T14:06:08.000000Z","updated_at":"2024-01-14T14:06:08.000000Z"},"relationships":{"license-key":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/license-key-instances\/707185\/license-key","self":"https:\/\/api.lemonsqueezy.com\/v1\/license-key-instances\/707185\/relationships\/license-key"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/license-key-instances\/707185"}}}'
  recorded_at: Sun, 14 Jan 2024 14:10:51 GMT
recorded_with: VCR 6.2.0
