---
http_interactions:
- request:
    method: delete
    uri: https://api.lemonsqueezy.com/v1/subscriptions/176705
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-remaining:
      - '298'
      x-ratelimit-limit:
      - '300'
      apigw-requestid:
      - Rfvj9hoTiYcEM3w=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705"},"data":{"type":"subscriptions","id":"176705","attributes":{"store_id":51385,"customer_id":1584868,"order_id":1541082,"order_item_id":1503859,"product_id":128224,"variant_id":149091,"product_name":"SaaS
        Silver Plan","variant_name":"Default","user_name":"Dean Dev","user_email":"dean@voupe.dev","status":"cancelled","status_formatted":"Cancelled","card_brand":"visa","card_last_four":"4242","pause":null,"cancelled":true,"trial_ends_at":null,"billing_anchor":7,"first_subscription_item":{"id":139331,"subscription_id":176705,"price_id":144597,"quantity":1,"is_usage_based":false,"created_at":"2023-11-07T21:51:10.000000Z","updated_at":"2024-01-13T20:56:04.000000Z"},"urls":{"update_payment_method":"https:\/\/voupedev.lemonsqueezy.com\/subscription\/176705\/payment-details?expires=1705265868&signature=e258b2e959069593c325d3b4e754e7641b678194dce3cdee516042b69f001865","customer_portal":"https:\/\/voupedev.lemonsqueezy.com\/billing?expires=1705201068&test_mode=1&user=1539071&signature=6a0d3d9dabf567d4dbd3a8bf74711fd4c0d617369c9fd2eda63e688d59b6f3ab"},"renews_at":"2024-02-07T21:51:08.000000Z","ends_at":"2024-02-07T21:51:08.000000Z","created_at":"2023-11-07T21:51:10.000000Z","updated_at":"2024-01-13T20:57:48.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/store"}},"customer":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/customer","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/customer"}},"order":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/order","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/order"}},"order-item":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/order-item","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/order-item"}},"product":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/product","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/product"}},"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/variant","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/variant"}},"subscription-items":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/subscription-items","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/subscription-items"}},"subscription-invoices":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/subscription-invoices","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/subscription-invoices"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705"}}}'
  recorded_at: Sat, 13 Jan 2024 20:57:49 GMT
recorded_with: VCR 6.2.0
