---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/subscription-invoices/549936
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '299'
      apigw-requestid:
      - Rfxq2h7LiYcEPNg=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-invoices\/549936"},"data":{"type":"subscription-invoices","id":"549936","attributes":{"store_id":51385,"subscription_id":176705,"customer_id":1584868,"user_name":"Dean
        Dev","user_email":"dean@voupe.dev","billing_reason":"updated","card_brand":null,"card_last_four":null,"currency":"GBP","currency_rate":"1.22974600","status":"paid","status_formatted":"Paid","refunded":false,"refunded_at":null,"subtotal":-1,"discount_total":0,"tax":0,"total":0,"subtotal_usd":-1,"discount_total_usd":0,"tax_usd":0,"total_usd":0,"subtotal_formatted":"-\u00a30.01","discount_total_formatted":"\u00a30.00","tax_formatted":"\u00a30.00","total_formatted":"\u00a30.00","urls":{"invoice_url":"https:\/\/app.lemonsqueezy.com\/my-orders\/c5c48c17-6c8c-45d2-bcdb-9f334226937a\/subscription-invoice\/549936?signature=4dcbeaefe39c6fc271d39d38bcd9078d79cc82b0f546c2eed3cf0c13f04af69c"},"created_at":"2024-01-13T20:51:35.000000Z","updated_at":"2024-01-13T20:51:36.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-invoices\/549936\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-invoices\/549936\/relationships\/store"}},"subscription":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-invoices\/549936\/subscription","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-invoices\/549936\/relationships\/subscription"}},"customer":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-invoices\/549936\/customer","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-invoices\/549936\/relationships\/customer"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-invoices\/549936"}}}'
  recorded_at: Sat, 13 Jan 2024 21:12:12 GMT
recorded_with: VCR 6.2.0
