---
http_interactions:
- request:
    method: patch
    uri: https://api.lemonsqueezy.com/v1/webhooks/11630
    body:
      encoding: UTF-8
      string: '{"data":{"type":"webhooks","id":"11630","attributes":{"events":["order_created","subscription_created"]}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-limit:
      - '300'
      apigw-requestid:
      - RiK31iKZiYcEM0g=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11630"},"data":{"type":"webhooks","id":"11630","attributes":{"store_id":51385,"url":"http:\/\/localhost:3000\/webhook","events":["order_created","subscription_created"],"last_sent_at":null,"created_at":"2024-01-14T14:36:30.000000Z","updated_at":"2024-01-14T14:38:03.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11630\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11630\/relationships\/store"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/webhooks\/11630"}}}'
  recorded_at: Sun, 14 Jan 2024 14:38:03 GMT
recorded_with: VCR 6.2.0
