---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/prices?filter%5Bvariant_id%5D=149091
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '291'
      apigw-requestid:
      - RfwCihQpiYcEMOA=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":2,"total":2}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/prices?filter%5Bvariant_id%5D=149091&page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-created_at","last":"https:\/\/api.lemonsqueezy.com\/v1\/prices?filter%5Bvariant_id%5D=149091&page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-created_at"},"data":[{"type":"prices","id":"144597","attributes":{"variant_id":149091,"category":"subscription","scheme":"standard","usage_aggregation":null,"unit_price":1000,"package_size":1,"tiers":null,"renewal_interval_unit":"month","renewal_interval_quantity":1,"trial_interval_unit":null,"trial_interval_quantity":null,"min_price":null,"suggested_price":null,"tax_code":"saas","created_at":"2023-11-07T19:48:16.000000Z","updated_at":"2023-11-07T21:51:07.000000Z"},"relationships":{"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/144597\/variant","self":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/144597\/relationships\/variant"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/144597"}},{"type":"prices","id":"144596","attributes":{"variant_id":149091,"category":"one_time","scheme":"standard","usage_aggregation":null,"unit_price":999,"package_size":1,"tiers":null,"renewal_interval_unit":null,"renewal_interval_quantity":null,"trial_interval_unit":null,"trial_interval_quantity":null,"min_price":null,"suggested_price":null,"tax_code":"eservice","created_at":"2023-11-07T19:47:50.000000Z","updated_at":"2023-11-07T19:47:50.000000Z"},"relationships":{"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/144596\/variant","self":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/144596\/relationships\/variant"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/prices\/144596"}}]}'
  recorded_at: Sat, 13 Jan 2024 21:01:04 GMT
recorded_with: VCR 6.2.0
