---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/checkouts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '296'
      apigw-requestid:
      - RiJduiOWiYcEP3g=
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"page":{"currentPage":1,"from":1,"lastPage":1,"perPage":10,"to":2,"total":2}},"jsonapi":{"version":"1.0"},"links":{"first":"https:\/\/api.lemonsqueezy.com\/v1\/checkouts?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-createdAt","last":"https:\/\/api.lemonsqueezy.com\/v1\/checkouts?page%5Bnumber%5D=1&page%5Bsize%5D=10&sort=-createdAt"},"data":[{"type":"checkouts","id":"bbd5ae24-d022-4439-ae1e-7c0154610772","attributes":{"store_id":51385,"variant_id":149091,"custom_price":null,"product_options":{"name":"","description":"","media":[],"redirect_url":"","receipt_button_text":"","receipt_link_url":"","receipt_thank_you_note":"","enabled_variants":[],"confirmation_title":"","confirmation_message":"","confirmation_button_text":""},"checkout_options":{"embed":false,"media":true,"logo":true,"desc":true,"discount":true,"quantity":1,"dark":false,"subscription_preview":true,"button_color":"#7047EB"},"checkout_data":{"email":"","name":"","billing_address":[],"tax_number":"","discount_code":"","custom":[],"variant_quantities":[]},"preview":false,"expires_at":null,"created_at":"2024-01-14T14:28:26.000000Z","updated_at":"2024-01-14T14:28:26.000000Z","test_mode":true,"url":"https:\/\/voupedev.lemonsqueezy.com\/checkout\/custom\/bbd5ae24-d022-4439-ae1e-7c0154610772?signature=720d8c434c9b5be91dbff8a60d127d89db79f68b55a1bfe967b6e5225891a8a3"},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/checkouts\/bbd5ae24-d022-4439-ae1e-7c0154610772\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/checkouts\/bbd5ae24-d022-4439-ae1e-7c0154610772\/relationships\/store"}},"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/checkouts\/bbd5ae24-d022-4439-ae1e-7c0154610772\/variant","self":"https:\/\/api.lemonsqueezy.com\/v1\/checkouts\/bbd5ae24-d022-4439-ae1e-7c0154610772\/relationships\/variant"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/checkouts\/bbd5ae24-d022-4439-ae1e-7c0154610772"}},{"type":"checkouts","id":"ffba2628-bd02-4d2f-989f-fb690e8a852d","attributes":{"store_id":51385,"variant_id":149091,"custom_price":null,"product_options":{"name":[...]
