---
http_interactions:
- request:
    method: patch
    uri: https://api.lemonsqueezy.com/v1/subscriptions/176705
    body:
      encoding: UTF-8
      string: '{"data":{"type":"subscriptions","id":"176705","attributes":{"variant_id":149092,"invoice_immediately":true}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '298'
      apigw-requestid:
      - RfupWjnKCYcEPPQ=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705"},"data":{"type":"subscriptions","id":"176705","attributes":{"store_id":51385,"customer_id":1584868,"order_id":1541082,"order_item_id":1503859,"product_id":128225,"variant_id":149092,"product_name":"SaaS
        Gold Plan","variant_name":"Default","user_name":"Dean Dev","user_email":"dean@voupe.dev","status":"active","status_formatted":"Active","card_brand":"visa","card_last_four":"4242","pause":null,"cancelled":false,"trial_ends_at":null,"billing_anchor":7,"first_subscription_item":{"id":139331,"subscription_id":176705,"price_id":144597,"quantity":2,"is_usage_based":false,"created_at":"2023-11-07T21:51:10.000000Z","updated_at":"2023-11-07T21:57:32.000000Z"},"urls":{"update_payment_method":"https:\/\/voupedev.lemonsqueezy.com\/subscription\/176705\/payment-details?expires=1705265493&signature=7fdd7a7274682491874dfba20a59625cca9ee3c42d29e2076753207b88787f99","customer_portal":"https:\/\/voupedev.lemonsqueezy.com\/billing?expires=1705200693&test_mode=1&user=1539071&signature=22cc6a8b01bf49505feecccb55f915009a504db352372e206e7366945fadea29"},"renews_at":"2024-02-07T21:51:08.000000Z","ends_at":null,"created_at":"2023-11-07T21:51:10.000000Z","updated_at":"2024-01-13T20:51:33.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/store"}},"customer":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/customer","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/customer"}},"order":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/order","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/order"}},"order-item":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/order-item","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/order-item"}},"product":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/product","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/product"}},"variant":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/variant","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/variant"}},"subscription-items":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/subscription-items","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/subscription-items"}},"subscription-invoices":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/subscription-invoices","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705\/relationships\/subscription-invoices"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscriptions\/176705"}}}'
  recorded_at: Sat, 13 Jan 2024 20:51:34 GMT
recorded_with: VCR 6.2.0
