---
http_interactions:
- request:
    method: post
    uri: https://api.lemonsqueezy.com/v1/licenses/validate
    body:
      encoding: UTF-8
      string: '{"license_key":"9AE0D3F6-A7CD-43C6-BF08-17208F679CD7","instance_id":null}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '298'
      apigw-requestid:
      - RiFafiRZiYcEPlw=
    body:
      encoding: ASCII-8BIT
      string: '{"valid":true,"error":null,"license_key":{"id":385359,"status":"inactive","key":"9AE0D3F6-A7CD-43C6-BF08-17208F679CD7","activation_limit":5,"activation_usage":0,"created_at":"2024-01-14T13:53:25.000000Z","expires_at":"2025-01-14T13:53:25.000000Z","test_mode":true},"instance":null,"meta":{"store_id":51385,"order_id":1907633,"order_item_id":1868949,"variant_id":211541,"variant_name":"Default","product_id":166175,"product_name":"Test
        License","customer_id":1584868,"customer_name":"Dean Dev","customer_email":"dean@voupe.dev"}}'
  recorded_at: Sun, 14 Jan 2024 14:00:47 GMT
recorded_with: VCR 6.2.0
