---
http_interactions:
- request:
    method: get
    uri: https://api.lemonsqueezy.com/v1/discounts/80554
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-remaining:
      - '299'
      x-ratelimit-limit:
      - '300'
      apigw-requestid:
      - Rfz-zhOTCYcEPFQ=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/discounts\/80554"},"data":{"type":"discounts","id":"80554","attributes":{"store_id":51385,"name":"10%
        Off","code":"10OFF","amount":10,"amount_type":"percent","is_limited_to_products":false,"is_limited_redemptions":false,"max_redemptions":0,"starts_at":null,"expires_at":null,"duration":"once","duration_in_months":1,"status":"published","status_formatted":"Published","created_at":"2024-01-13T21:26:29.000000Z","updated_at":"2024-01-13T21:26:39.000000Z","test_mode":true},"relationships":{"store":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/discounts\/80554\/store","self":"https:\/\/api.lemonsqueezy.com\/v1\/discounts\/80554\/relationships\/store"}},"variants":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/discounts\/80554\/variants","self":"https:\/\/api.lemonsqueezy.com\/v1\/discounts\/80554\/relationships\/variants"}},"discount-redemptions":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/discounts\/80554\/discount-redemptions","self":"https:\/\/api.lemonsqueezy.com\/v1\/discounts\/80554\/relationships\/discount-redemptions"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/discounts\/80554"}}}'
  recorded_at: Sat, 13 Jan 2024 21:27:59 GMT
recorded_with: VCR 6.2.0
