---
http_interactions:
- request:
    method: patch
    uri: https://api.lemonsqueezy.com/v1/subscription-items/139332
    body:
      encoding: UTF-8
      string: '{"data":{"type":"subscription-items","id":"139332","attributes":{"quantity":2}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Bearer <AUTHORIZATION>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/vnd.api+json
      x-ratelimit-limit:
      - '300'
      x-ratelimit-remaining:
      - '296'
      apigw-requestid:
      - RfzkEg0qCYcEPsQ=
    body:
      encoding: ASCII-8BIT
      string: '{"jsonapi":{"version":"1.0"},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332"},"data":{"type":"subscription-items","id":"139332","attributes":{"subscription_id":176706,"price_id":144599,"quantity":2,"is_usage_based":false,"created_at":"2023-11-07T21:52:07.000000Z","updated_at":"2024-01-13T21:25:07.000000Z"},"relationships":{"subscription":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332\/subscription","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332\/relationships\/subscription"}},"price":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332\/price","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332\/relationships\/price"}},"usage-records":{"links":{"related":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332\/usage-records","self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332\/relationships\/usage-records"}}},"links":{"self":"https:\/\/api.lemonsqueezy.com\/v1\/subscription-items\/139332"}}}'
  recorded_at: Sat, 13 Jan 2024 21:25:08 GMT
recorded_with: VCR 6.2.0
